  .browse-page-outer{
    padding-bottom: 100px;
  }
 .browse-page {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    /* padding: 10px; */
    /* padding: 10px 25px 10px 5px; */
    /* padding: 5px 15px;  */
    padding-bottom: 100px;
    /* align-items: center; */
    padding: 5px 15px; 
  }

  .browse-page h1{
    text-align: center;
    color: #333;
    margin: 0 ;
    margin-bottom: 5px;
    width: 100%;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    padding: 4px 1.5px;
    color: white;
    font-size: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .browseGroup_h1 {
    padding: 5px 10px;
  }
  
  .browseGroup_h2{
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
  .user-dining-journey {
    margin-bottom: 20px;
  }
  
  .browseGroup-container {
    display: flex;
    flex-direction: column;
    /* padding: 5px 15px;  */
    /* align-items: center;
    width: 100%;  */
    width: 100%;
    padding: 3px 3px;
    /* padding-bottom: 100px; */
    /* margin-bottom: 0; */
  }
  
  .group-card-browse {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
  }
  
  .group-card-browse:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
  
  .browseGroup-image {
    width: 100%;
    /* height: auto; */
    border-radius: 8px;
    margin-bottom: 4px;
    max-height: 250px;
    object-fit: cover;  
    /* object-fit: fill; */
    /* position: relative; */
    /* height: 100%; */
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: block; */
  }
  .groupIcon {
    /* vertical-align: middle; */
    margin-bottom: -5px;
    margin-left: 3px;
  }
  .browse-group-card-top-right {
    position: absolute; /* 定位到卡片内 */
    bottom: 0px;
    right: 10px; /* 从右边缘开始的距离 */
    z-index: 2; /* 确保它在卡片内容之上 */
  }
  
  .addDisabled {
    /* cursor: not-allowed; */
    opacity: 0.5;
  }
  .browseGroupTitle {
    margin-top: 0;
    margin-bottom: 0;
  }
  .browseDiningTime {
    margin-top: 0; /* 移除時間上方的margin */
    color: green; /* 綠色文字 */
    font-size: 12px;
    margin-bottom: 5px;
  }
  .browseGroupDescription {
    margin-top: 0;
  }

  .applicantRequest {
    text-align: center;
  }

  .no-createdGroups {
    text-align: center;
  }

  .browseUsername{
    color: #dea731; 
    text-decoration: underline;
  }

  .user-name-link {
    color: #110c01; /* 深黄色 */
    text-decoration: underline;
  }
  
  /* .user-name-link:hover {
    text-decoration: underline;
  } */

  /* @media (min-width: 768px) {
    .group-card, .group-card-browse {
      max-width: 45%;
    }
  }
   */
